<div class="header">Doctors</div>
<div class="maincontainer">
    <mat-card class="card">
        <mat-card-content class="content">
            <img class="doctorimage" src="../../../assets/aaron-keener.jpg" alt="doctor1">
            <label class="name">Dr. Aaron Keener</label>
            <label class="profession">Surgeon</label>
            <div class="socialmedia-icons">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/twitter.png" alt="twitter">
            </div>
            <div class="address">
                <span>Falcon Ave, Suite 600 San Fransisco, CADGE</span>
                <span>94107</span>
            </div>
            <button class="btn">
                Add appointment
            </button>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content class="content">
            <img class="doctorimage" src="../../../assets/austin-distel.jpg" alt="doctor1">
            <label class="name">Dr. Austin Distel</label>
            <label class="profession">Dentist</label>
            <div class="socialmedia-icons">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/twitter.png" alt="twitter">
            </div>
            <div class="address">
                <span>Falcon Ave, Suite 600 San Fransisco, CADGE</span>
                <span>94107</span>
            </div>
            <button class="btn">
                Add appointment
            </button>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content class="content">
            <img class="doctorimage" src="../../../assets/lisa-chavez.jpg" alt="doctor1">
            <label class="name">Dr. Lisa Chavez</label>
            <label class="profession">Gynaecologist</label>
            <div class="socialmedia-icons">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/twitter.png" alt="twitter">
            </div>
            <div class="address">
                <span>Falcon Ave, Suite 600 San Fransisco, CADGE</span>
                <span>94107</span>
            </div>
            <button class="btn">
                Add appointment
            </button>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content class="content">
            <img class="doctorimage" src="../../../assets/usman-yousaf.jpg" alt="doctor1">
            <label class="name">Dr. Usman Yousaf</label>
            <label class="profession">Cardiologist</label>
            <div class="socialmedia-icons">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/twitter.png" alt="twitter">
            </div>
            <div class="address">
                <span>Falcon Ave, Suite 600 San Fransisco, CADGE</span>
                <span>94107</span>
            </div>
            <button class="btn">
                Add appointment
            </button>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content class="content">
            <img class="doctorimage" src="../../../assets/kevin-hart.jpg" alt="doctor1">
            <label class="name">Dr. Kevin Hart</label>
            <label class="profession">Pathologist</label>
            <div class="socialmedia-icons">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/twitter.png" alt="twitter">
            </div>
            <div class="address">
                <span>Falcon Ave, Suite 600 San Fransisco, CADGE</span>
                <span>94107</span>
            </div>
            <button class="btn">
                Add appointment
            </button>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content class="content">
            <img class="doctorimage" src="../../../assets/santosh-daruwala.jpg" alt="doctor1">
            <label class="name">Dr. Santosh Daruwala</label>
            <label class="profession">General practitioner</label>
            <div class="socialmedia-icons">
                <img src="../../../assets/instagram.png" alt="instagram">
                <img src="../../../assets/facebook.png" alt="facebook">
                <img src="../../../assets/twitter.png" alt="twitter">
            </div>
            <div class="address">
                <span>Falcon Ave, Suite 600 San Fransisco, CADGE</span>
                <span>94107</span>
            </div>
            <button class="btn">
                Add appointment
            </button>
        </mat-card-content>
    </mat-card>
</div>