<div class="maincontainer">
    <div class="content">
        <div class="header">
            Add appointment
        </div>
        <div class="user-profile-pic">
            <img src="../../../assets/profile.png" alt="profile">
            <button>
                Select image
                <img src="../../../assets/user.png" alt="icon">
            </button>
        </div>
        <form [formGroup]="appointmentForm">
            <input type="text" placeholder="Name" value="{{name}}" required>
            <input type="text" placeholder="Doctor" value="{{doctorname}}" required>
            <input type="text" placeholder="Email" value="{{email}}" required>
            <input type="date" placeholder="Date" formControlName="date" required>
            <div class="from-to">
                <input type="time" placeholder="From" formControlName="startTime" required>
                <input type="time" placeholder="To" formControlName="endTime" required>
            </div>
            <input type="text" placeholder="Number" formControlName="number" required>
            <input type="text" placeholder="Injury" formControlName="injury" required>
            <div class="btn">
                <button class="cancel-btn" (click)="cancel()">
                    Cancel
                </button>
                <button class="add-btn" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>