<div class="maincontainer">
    <!-- <mat-card> -->
        <div class="content">
            <div class="header">
                Add appointment
            </div>
            <div class="user-profile-pic">
                <img src="../../../assets/profile.png" alt="profile">
                <button>
                    Select image
                    <img src="../../../assets/user.png" alt="icon">
                </button>
            </div>
            <form>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Doctor">
                <input type="text" placeholder="Email">
                <input type="date" placeholder="Date">
                <div class="from-to">
                    <input type="time" placeholder="From">
                    <input type="time" placeholder="To">
                </div>
                <input type="text" placeholder="Number">
                <input type="text" placeholder="Injury">
                <div class="btn">
                    <button class="cancel-btn" (click)="cancel()">
                        Cancel
                    </button>
                    <button class="add-btn">
                        Add appointment
                    </button>
                </div>
            </form>
        </div>
    <!-- </mat-card> -->
</div>