<div class="maincontainer">
    <mat-card>
        <mat-card-content class="content">
            <div class="header">
                Login form
            </div>
            <div class="sub-header">
                Login to access your Account
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <input type="text" placeholder="Login" formControlName="login">
                <input type="password" placeholder="Password" formControlName="password">
                <mat-slide-toggle color="primary" class="toggle-switch">Remember me</mat-slide-toggle>
                <mat-checkbox class="checkbox" color="primary" [checked]="isDoctor">Are you a Doctor?</mat-checkbox>
                <div class="loginbtn">
                    <button>
                        <img src="../../../assets/login.png">
                        Login
                    </button>
                </div>
                <div class="forgotpass">
                    <a href="">Forgot password?</a>
                </div>
                <div class="signup">
                    Dont have an account?
                    <a routerLink="/signup">Sign up!</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>